html,
body {
  font-size: 10px;
  font-family: "Roboto, Arial, sans-serif";
  height: 100%;
  width: 100%;
}

#container {
  width: 100%;
  margin: auto;
}

#header {
  width: 1392px;
  height: 56px;
  padding: 0 16px;
  position: fixed;
  background-color: #202020;
  /* position: relative; */
}

#header-left {
  width: 169px;
  height: 56px;
  float: left;
  margin-right: 135px;
  /* background-color: green; */
}

#menu {
  width: 24px;
  height: 24px;
  padding: 16px 8px;
  float: left;
}

#logo {
  width: 120px;
  height: 56px;
  float: left;
}

#logo-icon img {
  width: 90px;
  height: 20px;
  padding: 18px 14px 18px 16px;
}

#logo-country {
  margin: -45px 0 0 110px;
  color: #606060;
  float: left;
}

#header-center {
  width: 728px;
  height: 56px;
  float: left;
  margin-right: 135px;
  /* background-color: yellow; */
}

#search-box {
  width: 636px;
  height: 40px;
  float: left;
  margin: 8px 0 8px 40px;
  padding: 0 4px;
}
#search-input {
  width: 636px;
  height: 40px;
  margin: -3px 0px 0px 0px;
}

#search {
  width: 564px;
  height: 40px;
  float: left;
}

#search-icon1 img {
  width: 24px;
  height: 24px;
}
#search-icon1 {
  width: 64px;
  height: 46px;
  border: none;
  background-color: hsl(0deg 0% 19%);
  padding: 1px 6px;
  float: left;
}

#search-icon2 img {
  width: 24px;
  height: 24px;
}

#search-icon2 {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 40px;
  margin: 8px 0 8px 4px ;
  background-color: #181818;
  float: left;
}

#header-right {
  width: 225px;
  height: 56px;
  float: left;
  background-color: red;
}

/* #left {
  width: 240px;
  height: 1331px;
  background-color: green;
  position: fixed;
} */